<!DOCTYPE html>
<html>
<head>
  <title>Brainparties</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/header' %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		<!-- this is whatever the page was called' stuff -->
		<%= yield %>
	</div>


</body>
</html>
